

.pop-window-container, .pop-window, .left, .single-img-container, .img, .ingredients, .ingredients-container, .active, .right, .right-btn-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pop-window-container{
        
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    
}

.active{
    display: block;
}

.pop-window{
    display: grid;
    width: 60vw;
    height: 87vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 45% 55%;
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    padding: 50px 80px 35px;
    grid-template-areas: 
     "top-left top-right"
     "bottom-left bottom-right"
    ;
}




.single-img-container{
    position: relative;
    width: 300px;
    height: 300px;
    top: -90px;
    left: -120px;
    overflow: hidden;
    border-radius: 20px;
    grid-area: top-left;

}

.img{
    display: block;
    height: 100%;

}

.ingredients{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    grid-area: bottom-left;
}

 .h5{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.ingredients-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: 80%;

}

.right-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    grid-area: top-right;
}
.bottom-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    grid-area: bottom-right;
}
.h1 {
    line-height: 1;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bolder;
}

.small-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    gap: 15px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #FAC234;
    border-color: transparent;
    color: #FFFFFF;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.h5{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.big-button {
    width: 68px;
    height: 28px;
    border-radius: 30px;
    color: #EB6237;
    border-color: #EB6237;
    background-color: #FFFFFF;
    margin-right: 10px;
    font-size: .7rem;
    text-transform: uppercase;
}



  @media only screen and (max-width: 1200px) {
    .pop-window{
       position: absolute;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
        height: auto;
        width: 80vw;
        height: auto;
        overflow-y: auto;
        gap: 20px;
    }

    .single-img-container{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex: 1;
        order: 1;
        
    }
    .ingredients{
        flex: 1;
        order: 4;
    }
    .right-top{
        flex: 1;
        order: 3;
    }
    .bottom-right{
        order: 2;
    }
  }