

.pop-window-container, .pop-window, .left, .single-img-container, .img, .ingredients, .ingredients-container, .active, .right, .right-btn-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pop-window-container{
        
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.active{
    display: block;
}

.pop-window{
    display: grid;
    grid-template-columns: 300px 400px;
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 87vh;
    background-color: #FFFFFF;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;  
  gap: 40px;
}

.single-img-container{
    position: relative;
    top: -70px;
    left: -70px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.img{
   width: 100%;
   height: 100%;
object-fit: cover;
}

.ingredients{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    height: 50%;
    position: relative;
    top: -65px;
}

.ingredients > h5{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.ingredients-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

}

.right{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.right > h1 {
    line-height: 1;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bolder;
}

.right > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    gap: 15px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #FAC234;
    border-color: transparent;
    color: #FFFFFF;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.right > h5{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.right-btn-container > button {
    width: 68px;
    height: 28px;
    border-radius: 30px;
    color: #EB6237;
    border-color: #EB6237;
    background-color: #FFFFFF;
    margin-right: 10px;
    font-size: .7rem;
    text-transform: uppercase;
}