*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.receipts-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 480px;
    width: 100%;
    overflow-x: auto;
}

.receipts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
