.home-container, .h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.home-container > *{
 margin-bottom: 40px;
}

.h1{
font-size: 3rem;
font-weight: 800;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
color: black;
text-align: center;
}