.ingredientLink_container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ingredientLink_container{
   height: 42px;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
   padding-left: 20px;
   background-color: #F9F9F9;
   border-radius: 15px;
}